div#Links ul{
    float: left;
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 22px;
    height: 270px;
    margin-top: 3px;
}
div#Links ul li{
    line-height: 16px;
}
div#Links ul li a{
    color: #dbd8d7;
    text-decoration: none;
    font-family: Arial;
}
div#Links ul li a:hover{
    text-decoration: underline;
    color: white;
}